body {
    background-image: url(https://user-images.githubusercontent.com/30896388/168069577-2f570d08-61d3-49d8-b7dd-c4b9192aaf68.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0%;
}

nav {
    width: 100vw;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
}

li {
    display: inline;
    padding: 2%;
}

li a {
    color: white;
    text-decoration: none;
}

#logo {
    width: 4vw;
    border-radius: 50%;
}

section {
    padding-top: 20vh;
    padding-bottom: 25vh;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
}

footer {
    background-color: blueviolet;

}

footer h2 {
    text-align: center;
    padding-top: 5vh;
}

footer div {
    width: 100%;
    height: 40vh;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* icons */
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
/* media queries */
/* small devices */
@media screen and ( max-width: 768px){
    h1{
        font-size: 35px;
    }
    nav{
        background-color: yellow;
    }
    nav a{
        color: black;

    }

}
/* medium devices */
@media screen and (max-width: 991px) and (min-width:769px){
    h1{
        font-size: 25px;
    }
    nav{
        background-color: lightgreen;
    }
    nav a{
        color: black;

    }

}
/* large devices */
@media  screen and (max-width: 1199px) and (min-width: 992px){
    nav{
        background-color: red;
    }
    h1{
        display: inline;
    }
    p{
        display: inline;
    }
}
/* xl devices */
@media screen and (min-width:1200px) {
    h1{
        display: inline-block;
    }
    p{
        display: inline-block;
    }
}