*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: antiquewhite;
}

.material-symbols-outlined {
    
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.line{
    font-size: 3em;
    color: rgb(238, 36, 157);
  
}

header{
    display: flex;
    /* border: 2px solid black; */
    justify-content: space-evenly;
    border-bottom: 4px grey solid;
   
}
header div{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 span{
    font-size: 1.5em;
}
#profilePic{
    width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2vh;
    column-gap: 3vw;
}
section >*{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding:10px;
    
}
.iconsFlex{
    display: flex;
    
}
#contact, #education{
     width: 25vw;
}
#profile , #workExperience{
    width: 70vw;
}
p{
    font-size: 1.5em;
    
}
h3{
    font-size: 1.5em;
    /* border-bottom: 3px rgb(238, 36, 157) solid; */
    padding: 10px;
}
